In [1]:
import sqlite3
import pandas

In [2]:
#create connection to db
connection = sqlite3.connect('meta_music.db')

In [3]:
#create artist table
cursor = connection.cursor()

In [29]:
try cursor.execute('DROP TABLE artists')

SyntaxError: invalid syntax (<ipython-input-29-edbce9f96669>, line 1)

In [30]:
cursor.execute('DROP TABLE albums')

In [6]:
cursor.execute('DROP TABLE features')

In [20]:
artist_table_schema ='''CREATE TABLE IF NOT EXISTS artists (
                        artist_id INTERGER PRIMARY KEY, 
                        name TEXT NOT NULL);'''

In [21]:
album_table_schema = '''CREATE TABLE albums (
                            album_id INTERGER PRIMARY KEY, 
                            album TEXT NOT NULL, 
                            date TEXT NOT NULL, 
                            week_num INTEGER, 
                            meta_score INTEGER, 
                            user_score INTEGER,
                            artist_id INTEGER,
                            FOREIGN KEY(artist_id) REFERENCES artist (artist_id)
                        );'''

In [22]:
features_table_schema = '''CREATE TABLE features(
                            feature_id INTEGER, 
                            danceability REAL, 
                            energy REAL,
                            key INTEGER, 
                            loudness REAL, 
                            mode INTEGER, 
                            speechiness REAL, 
                            acousticness REAL, 
                            instrumentalness REAL,
                            liveness REAL,
                            valence REAL, 
                            tempo REAL, 
                            duration_ms INTEGER,
                            time_signature INTEGER,
                            artist_id INTEGER,
                            album_id INTEGER,
                            FOREIGN KEY (artist_id) REFERENCES artists (artist_id),
                            FOREIGN KEY (album_id) REFERENCES albums (album_id)
                            );'''

In [23]:
cursor.execute(artist_table_schema)

In [24]:
cursor.execute(album_table_schema)

OperationalError: table albums already exists

In [25]:
cursor.execute(features_table_schema)

OperationalError: table features already exists

In [28]:

#check for tables 
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print(tables)

[('albums',), ('features',), ('artists',)]