In [7]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy import create_engine, MetaData, PrimaryKeyConstraint
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [8]:
combo_df = pd.read_csv('combined_csv.csv')

In [9]:
combo_df

,artist,album,date,week_num,meta_score,user_score
0,The Streets,Original Pirate Material,"October 22, 2002",43,90,87
1,Tom Waits,Alice,"May 7, 2002",19,90,85
2,Queens of the Stone Age,Songs For The Deaf,"August 27, 2002",35,89,89
3,Spoon,Kill The Moonlight,"August 20, 2002",34,88,88
4,Wilco,Yankee Hotel Foxtrot,"April 23, 2002",17,87,89
...,...,...,...,...,...,...
9314,Bonny Doon,Longwave,"March 23, 2018",12,68,0
9315,A Perfect Circle,Eat the Elephant,"April 20, 2018",16,68,73
9316,Arthur Buck,Arthur Buck,"June 15, 2018",24,68,0
9317,Josh Rouse,Love in the Modern Age,"April 13, 2018",15,68,0
9318,Dean Wareham,Dean Wareham vs. Cheval Sombre,"October 26, 2018",43,68,0

In [10]:
artists = pd.Series((combo_df['artist']).drop_duplicates()).reset_index(drop=True)

In [11]:
artists.head()

0                The Streets
1                  Tom Waits
2    Queens of the Stone Age
3                      Spoon
4                      Wilco
Name: artist, dtype: object

In [6]:
artists.tail()

4666      The Xcerts
4667     Middle Kids
4668    Cullen Omori
4669      Bonny Doon
4670     Arthur Buck
Name: artist, dtype: object

In [23]:
class artists:
    def __init__(self, name, ):
        self.name = name

<bound method Series.duplicated of 0                   The Streets
1                     Tom Waits
2       Queens of the Stone Age
3                         Spoon
4                         Wilco
                 ...
9291                 The Xcerts
9292                Middle Kids
9298               Cullen Omori
9314                 Bonny Doon
9316                Arthur Buck
Name: artist, Length: 4671, dtype: object>