In [2]:
import pandas as pd
import os

In [3]:
csv_path = os.path.join('..', '..', 'data', 'test', 'test.csv')
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
data = pd.read_csv(csv_path) 
# Preview the first 5 lines of the loaded data 
data.head()

,artist,album,date,meta_score,user_score
0,The Weather Station,Ignorance,"February 5, 2021",88,90
1,Sleaford Mods,Spare Ribs,"January 15, 2021",83,82
2,Arlo Parks,Collapsed in Sunbeams,"January 29, 2021",83,86
3,Jazmine Sullivan,Heaux Tales,"January 8, 2021",83,87
4,"Black Country, New Road",For the First Time,"February 5, 2021",83,87

In [4]:
data['artist'].count()

31

In [ ]:
index=pd.date_range(start='January 01, 202', end='2014-1-31',freq='D')
df = pd.DataFrame({"vals":np.random.randint(-5,5,len(index))}, index=index)
df["csum"] = df.vals.cumsum()
# Add a column for weeks to enable grouping
df["weeks"] = df.index.week

# Group the data
grps = df.groupby("weeks")

# split the group into separate dataframes
df_dict = {}
for gi in grps.groups:
    df_dict[gi] = grps.get_group(gi)