In [2]:
import pandas as pd
import os

In [3]:
csv_path = os.path.join('..', 'data', 'meta_albums_20yr.csv')
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
data = pd.read_csv(csv_path) 
# Preview the first 5 lines of the loaded data 
data.head()

,artist,album,date,meta_score,user_score
0,The Streets,Original Pirate Material,"October 22, 2002",90,87
1,Tom Waits,Alice,"May 7, 2002",90,85
2,Queens of the Stone Age,Songs For The Deaf,"August 27, 2002",89,89
3,Spoon,Kill The Moonlight,"August 20, 2002",88,88
4,Wilco,Yankee Hotel Foxtrot,"April 23, 2002",87,89

In [4]:
data['artist'].count()

6701

In [ ]:
index=pd.date_range(start='2014-01-01', end='2014-1-31',freq='D')
df = pd.DataFrame({"vals":np.random.randint(-5,5,len(index))}, index=index)
df["csum"] = df.vals.cumsum()
# Add a column for weeks to enable grouping
df["weeks"] = df.index.week

# Group the data
grps = df.groupby("weeks")

# split the group into separate dataframes
df_dict = {}
for gi in grps.groups:
    df_dict[gi] = grps.get_group(gi)